.AppCard {
  position: relative;
  width: 90%;
  max-width: 321px;
  margin: 0 auto 16px;

  color: #212529;
  border-radius: 16px;
  border: 1px solid rgba(197, 202, 212, .8);
  background: #fff;
  overflow: hidden;

  & a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;

    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }

  &-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 19px 20px 16px;
  }

  &-logo {
    position: relative;
    flex: 0 0 48px;
    margin: 0 13px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      max-width: 100%;
      height: auto;
      max-height: 48px;
    }
  }

  &-name {
    position: relative;
    flex: 1 1 auto;
  }

  &-title {
    margin: 0 0 1px;

    font-family: 'SF UI Text Medium';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.5px;
    color: #212529;
  }

  &-subtitle {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #212529;
    opacity: 0.53;
  }

  &-body {
    max-height: 110px;
    margin: 0 0 9px;
    padding: 0 21px;

    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.3px;
    color: #212529;
    opacity: 0.8;
    overflow: hidden;
  }

  &-creator {
    margin: 0 0 13px;
    padding: 0 21px;

    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #212529;
    opacity: 0.42;
  }

  &-footer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 17px 8px;

    border-top: 1px solid rgba(197, 202, 212, .36);
    background: rgba(134, 142, 150, .08);
  }

  &-footerLabel {
    margin: 0 0 4px;

    font-family: 'SF UI Text Regular';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #212529;
    opacity: 0.8;
  }

  &-reviews {
    position: relative;
    flex: 0 0 auto;
    margin: 0 25px 0 0;
    font-size: 0;
  }

  &-info {
    position: relative;
    flex: 1 1 auto;
  }

  &-infoContent {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #212529;
    opacity: 0.8;
  }
}
