.Review {
  position: relative;
  max-width: 350px;
  margin: 0 auto 32px;

  &-author {
    margin: 0 0 8px;

    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
  }

  &-title {
    margin: 0 0 16px;

    font-family: 'SF UI Text Medium';
    font-size: 20px;
    letter-spacing: -0.4px;
    color: #212529;
  }

  &-rate {
    margin: 0 0 16px;
    font-size: 0;
  }

  &-text {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #212529;
    text-align: justify;
  }

}
