.Hero {
  position: relative;
  padding: 100px 15px 55px;

  background-image: url(../../media/img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &-wrapper {
    max-width: 525px;
    margin: 0 auto;
  }

  &-title {
    margin: 0 0 29px;
    padding: 0;

    font-family: 'SF UI Text Medium';
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
  }

  &-link {
    text-align: center;

    & a {
      font-family: 'SF UI Text Medium';
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.3px;
      text-align: center;
      text-decoration: underline;
      color: #fff;

      outline: 0;
      transition: opacity 250ms ease-in;

      &:focus,
      &:hover {
        outline: 0;
        text-decoration: underline;
        opacity: .85;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 124px 15px 65px;

    &-title {
      margin: 0 0 21px;

      font-size: 40px;
      line-height: 48px;
    }
  }
}
